.DS_Store
.pyc

# data files
/data/raw/tiff_images/
/data/plates_cropped/
/data/all_cropped/
/data/all/
/data/plates/

# results files
/results/runs/

# figures
/figures/

# python cache files
__pycache__/
*.py[cod]
*$py.class