.DS_Store
.pyc

# data files
/data/raw/tiff_images/
/data/tiled/
/data/ml_dataset/
/data/preprocessed_plates/
/data/tiled_plates/
/data/ml_dataset_plates/

# results files
/results/runs/

# python cache files
__pycache__/
*.py[cod]
*$py.class